*{
    /* padding: 0;
    margin: 0; */
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Box{
   height: 150px;
   border: 1px solid black;
   background-color: lightblue;
   color: #F27000;
   text-align: center;
   
}
